<?xml version="1.0"?>
<launch>

 <!-- OJU 29.06.21 soll den realen youBot hochfahren, inclusive Slamming und ekf/imu 
 	leider nimmt er das Ziel aus rviz bisher nicht an 
 --> 
  <include file="$(find youbot_driver_ros_interface)/launch/youbot_driver.launch" />
  
  
  
  <!-- rosrun rosserial_python serial_node.py /dev/ttyACM1 -->
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/ttyACM1"/>
    <param name="baud" value="57600"/>
  </node>

  
  <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch" />
  
  
   <!--Hokuyo-Laserscanner => URG_NODE -->
  <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value=""/>
    <param name="serial_port" value="/dev/ttyACM0"/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="base_laser_front_link"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-1.5707963"/>
    <param name="angle_max" value="1.5707963"/>
    <remap from="scan" to="base_scan"/>
  </node>
  
  
    <param name="T" type="double" value="0.2"/>
    <param name="dt" type="double" value="0.1"/>
    <node pkg="youbot_navigation_common" type="lowpass_filter" respawn="false" name="lowpass_filter" output="screen">
    </node>
 
	
    <!-- for moving -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
        <!-- Load common configuration files -->
	<remap from="cmd_vel" to="move_base/cmd_vel"/> 
	<remap from="odom" to="/robot_pose_ekf/odom_combined"/> <!-- OJU for EKF-->
        <rosparam file="$(find youbot_navigation_common)/config/move_base_params.yaml" command="load" />
        <rosparam file="$(find youbot_navigation_common)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find youbot_navigation_common)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <!--<rosparam file="$(find youbot_navigation)/navigation_common/base_local_planner_params.yaml" command="load" ns="TrajectoryPlannerROS" />-->

        <!-- Load global navigation specific parameters -->
        <!--<rosparam file="$(find youbot_navigation)/navigation_local/config/move_base_params.yaml" command="load" />-->
        <rosparam file="$(find youbot_navigation_local)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find youbot_navigation_local)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find youbot_navigation_common)/config/base_local_planner_params.yaml" command="load" />
    </node>
    
   
  
  <include file="$(find youbot_navigation_global)/launch/2dslam.launch" />

  
 
  <!--node name="rviz" type="rviz" pkg="rviz" args="-d $(find emr)/_rviz_configs/real_youBot_imu_test.rviz" /-->  
    <!-- moveIt für den Arm include file="$(find youbot_moveit_config)/launch/move_group.launch" /-->

</launch>

