<?xml version="1.0"?>
<launch>
    <include file="$(find youbot_gazebo_robot)/launch/youbot.launch">
        <arg name="world" value="empty_world" />
    </include>

  <!-- start Hokuyo - Laser Scanner Node => urg_node -->
    <node type="urg_node" pkg="urg_node" name="urg_node" />  
   <!-- setting ROS-Parameters, so that youBot does not scan itself -->
    <param name="min_ang" type="double" value="-1.7" />
    <param name="max_ang" type="double" value="1.7" />
    <param name="port" type="string" value="/dev/sensors/hokuyo" />
   <!-- urg_node sends on wrong topic -->
    <remap from="/scan" to="/base/scan" />

</launch>
